<% provide(:title, t('merch.title')) %>

<div class="ui container" id="merch-description">
  <h1 class="ui header">
    <%= t('merch.title') %>
  </h1>

  <p>
    <%= t('merch.paragraphs') %>
  </p>

